@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F4F7FE; 
  --foreground: #2B3674; 
  --text-secondary: #A3AED0; 
  --header-bg: #FFFFFF; 
  --accent-blue: #4318FF;
  --accent-green: #05CD99;
  --accent-yellow: #FFB547;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.elegant-scrollbar {
  overflow-x: auto;
  padding-bottom: 12px; 
  
  scrollbar-width: thin; 
  scrollbar-color: #CBD5E1 transparent; 
  
  scroll-behavior: smooth;
}

.elegant-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.elegant-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
  margin: 0 10px;
}

.elegant-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

.elegant-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94A3B8;
}