@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Warna background body sesuai desain (kebiruan sangat muda) */
  --background: #F4F7FE; 
  --foreground: #171717;
  --card-bg: #FFFFFF;
  --header-bg: #E9EEF9; /* Warna header sedikit lebih gelap dari bg */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Mencegah horizontal scroll */
}

/* Utilitas kustom untuk scrollbar jika perlu */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}