@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Warna Background Utama (Biru Muda Halus) */
  --background: #F4F7FE; 
  --foreground: #2B3674; /* Warna teks utama (Dark Blue/Navy) */
  --text-secondary: #A3AED0; /* Warna teks sekunder (Abu kebiruan) */
  
  /* Warna Header Pill */
  --header-bg: #FFFFFF; /* Pada desain terbaru, header seringkali putih bersih atau sangat transparan */
  
  /* Aksen */
  --accent-blue: #4318FF;
  --accent-green: #05CD99;
  --accent-yellow: #FFB547;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}